<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>snulion</title>
      {% load static %} 
      {% load sass_tags %}
      <link rel="stylesheet" type="text/css" href="{% static 'feedpage/style.css' %}">
      <link href="{% sass_src 'feedpage/main.scss' %}" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap" rel="stylesheet">
      <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  {% comment %} class="fold" 추가 {% endcomment %}
  <header style="font-family: 'Noto Serif KR', serif;" class="fold">
      <div style="text-align: right; color: #6b561f; margin: 15px;" class="fold-inner">
        {% if user.is_authenticated %}
            {{ user.get_username }}님, 안녕하세요<br>
                학교: {{ user.profile.college }}<br>
                전공: {{ user.profile.major }}<br>
                내가 좋아한 글 : {{ user.feeds_liked.count }}개<br />  
            <a href="{% url 'mypage' user.id %}" class="top-nav">My Page</a>
            <span class="bar">|</span>
            <a href="{% url 'logout'%}?next={{request.path}}" class="top-nav">로그아웃</a>
        {% else %}  
            <a href="{% url 'signup' %}">회원가입</a>
            <a href="{% url 'login'%}?next={{request.path}}">로그인</a>
        {% endif %} 
      </div>
  </header>  
  <body style="font-family: 'Noto Serif KR', serif;">
  {% block content %}
  {% endblock %}
  {% comment %} 버튼 추가 {% endcomment %}
  <button class="scroll-up">UP</button>
  <script src="{% static 'feedpage/main.js' %}"></script>
  </body>
</html>